.newsDetail-page {
  .heading-border {
    padding-left: 10px;
    height: 25px;
    border-left: 4px solid var(--primary-red);
    font-size: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .newsDetail-inner {
    background-color: #f7fbff;
    // text-align: center;
    .news-banner {
      width: 85%;
      margin: 0 auto;
      padding: 30px 50px;
      .category {
        padding: 5px 10px;
        font-weight: 700;
        display: inline-block;
        background-color: #059669;
        border-radius: 10px;
        color: white;
      }
      h2 {
        font-size: 42px;
        width: 90%;
      }
      p {
        color: #475569;
        font-size: 19px;
        width: 80%;
      }
      .info-user {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-top: 25px;
        justify-content: space-between;
        .left {
          display: flex;
          align-items: center;
          gap: 25px;
          align-items: center;
          .info-item {
            display: flex;
            align-items: center;
            gap: 5px;
            .author-info {
              div {
                color: #475569;

                &:first-child {
                  font-weight: 700;
                  color: black;
                }
              }
            }
            span {
              &:first-child {
                margin-right: 10px;
                width: 40px;
                height: 40px;
                font-size: 20px;
                background-color: #c8c8c8;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
        .right {
          span {
            width: 45px;
            height: 45px;
            border-radius: 20%;
            padding: 5px;
            font-size: 20px;
            transition: 0.25s ease-in-out;
            cursor: pointer;
            &:first-child {
              margin-right: 10px;
              &:hover {
                color: var(--primary-red);
                background-color: rgb(251, 188, 188);
              }
            }
            &:last-child {
              &:hover {
                color: rgb(64, 174, 221);
                background-color: #b1d4fa;
              }
            }
          }
        }
      }
    }
    .img-large {
      padding: 10px 25px;
      width: 100%;
      img {
        border-radius: 20px;
        width: 100%;
        height: 500px;
        object-fit: cover;
      }
    }
    .content-wrapper {
      padding: 30px 25px;
      display: flex;
      gap: 80px;
      p {
        color: #334155;
        font-size: 19px;
        margin-bottom: 10px;
      }
      h3 {
        font-size: 22px;
        margin-bottom: 15px;
      }
      ul {
        li {
          font-size: 19px;
          margin-bottom: 15px;

          span {
            &:first-child {
              padding: 5px;
              border-radius: 50%;
              font-size: 18px;
              margin-right: 10px;
              color: white;
              background-color: #4ae0b1;
            }
          }
        }
      }
      .article-body {
        width: 65%;
        .section-image {
          text-align: center;
          width: 100%;
          img {
            border-radius: 15px;
            width: 100%;
            height: 450px;
            object-fit: cover;
          }
          figcaption {
            margin: 15px 0px;
            font-size: 19px;
            font-style: italic;
          }
        }
        .section-quote {
          display: flex;
          gap: 5px;
          padding: 15px 25px;
        }
        .tags-container {
          .tag-item {
            padding: 10px 12px;
            font-size: 17px;
            font-weight: 700;
            border-radius: 12px;
            margin-right: 15px;
            background-color: rgb(204 203 203 / 24%);
            color: #475569;
            transition: 0.25s ease-in-out;
            cursor: pointer;
            &:hover {
              background-color: #8491a2;
              color: white;
            }
          }
        }
        .social-container {
          padding: 15px 35px;
          margin: 35px 0px;
          background-color: #f1f5f9;
          border-radius: 15px;
          box-shadow: 5px -2px 8px rgba(0, 0, 0, 0.25);
          border: 3px solid rgb(221 221 221);
          .list-social {
            display: flex;
            align-items: center;

            justify-content: space-between;
            .social-item {
              width: 32%;
              font-size: 19px;
              padding: 10px 20px;
              background-color: #2563eb;
              color: white;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 10px;
              font-weight: 600;
              border-radius: 8px;
              transition: 0.25s ease-in-out;
              cursor: pointer;
              span {
                &:first-child {
                  font-size: 18px;
                }
              }
              &:hover {
                background-color: #0ea5e9;
              }
            }
          }
        }
      }
      .sidebar-right {
        width: 30%;
        position: sticky;
        top: 10px;
        height: 100%;
        left: 0;
        .articles-relative {
          background-color: white;
          padding: 20px 25px;
          width: 92%;
          border-radius: 12px;
          border: 2px solid #dfdfdf;

          .articles-list {
            padding: 10px 0px 0px;
            .articles-item {
              display: flex;
              gap: 17px;
              margin-bottom: 17px;
              cursor: pointer;

              &:hover .image-small img {
                transform: scale(1.1);
              }
              &:hover .info h4 {
                color: var(--primary-red);
              }

              .image-small {
                width: 80px;
                height: 80px;
                border-radius: 7px;
                overflow: hidden;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  transition: 0.25s ease-in-out;
                }
              }
              .info {
                width: 65%;

                h4 {
                  font-size: 15px;
                  margin-bottom: 5px;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  transition: 0.25s ease-in-out;
                }
                .time-read {
                  font-size: 16px;
                  display: flex;
                  align-items: center;
                  gap: 5px;
                  margin-top: 10px;
                  color: #64748b;
                  i {
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
