.forgot-page {
  .description {
    text-align: center;
    color: #666;
    line-height: 1.6;
    font-size: 14px;
  }

  .input-form {
    margin-bottom: 18px;

    p {
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 16px;
    }
  }

  .form {
    position: relative;

    input {
      width: 100%;
      height: 48px;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 0 16px 0 45px;
      outline: none;
      transition: 0.2s;
      font-size: 14px;

      &:focus {
        border-color: #0d6efd;
      }
    }
  }

  .icon-left {
    position: absolute;
    top: 54%;
    left: 15px;
    transform: translateY(-50%);
    color: #888;
  }

  .error {
    color: #e53935;
    font-size: 13px !important;
    margin-top: 6px;
  }

  .back-login {
    margin-top: 20px;
    text-align: center;

    a {
      color: #0d6efd;
      text-decoration: none;
      font-size: 14px;
      font-weight: 500;

      display: inline-flex;
      align-items: center;
      gap: 8px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
