.menuItem-inner {
  display: flex;
  padding: 10px 0px;
  align-items: center;
  font-size: 16px;
  gap: 10px;
  padding-left: 17px;
  transition: 0.25s ease-in-out;
  color: rgba(0, 0, 0, 0.664);
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background-color: rgb(226, 226, 226);
    color: var(--primary-red);
  }
  .icon {
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
