.login-page {
  position: relative;
  height: 88vh;
  .input-form {
    margin-bottom: 10px;

    p {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .form {
      position: relative;
      width: 100%;

      input {
        width: 100%;
        padding: 10px 20px 10px 40px;

        border-radius: 10px;
        border: 2px solid #afafaf;
        font-weight: 500;
        font-size: 17px;
        outline: none;
      }

      .icon-left {
        position: absolute;
        top: 50%;
        transform: translateY(-42%);
        left: 3%;
        font-size: 18px;
      }
      .icon-right {
        position: absolute;
        right: 5%;
        top: 50%;
        cursor: pointer;
        transform: translateY(-42%);
        color: #afafaf;
      }
    }
  }
  .form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      display: flex;
      gap: 5px;
      input {
        width: 17px;
      }
      label {
        cursor: pointer;
        font-size: 1rem;
      }
    }
    .right {
      a {
        font-size: 1rem;
        transition: 0.25s ease-in-out;
        cursor: pointer;
        &:hover {
          color: #dc2626;
        }
      }
    }
  }
  button {
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  .divider {
    text-align: center;
    padding: 10px 0px 0px;
  }
  .gg-action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0px;
    border-radius: 12px;
    width: 100%;
    background-color: #ececec;
    transition: 0.25s ease-in-out;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    div {
      img {
        width: 30px;
        height: 30px;
      }
    }
    .right {
      font-size: 18px;
      font-weight: bold;
    }
  }
}
