MONGODB_CONNECTIONSTRING=
PORT=5000
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_USERNAME=
ADMIN_PHONE=
ADMIN_ADDRESS=Qui nhơn, Bình Định
GOOGLE_CLIENT_ID=
EMAIL_SHOP=
PASSWORD_SHOP=
CLIENT_URL=http://localhost:5173
CLIENT_URL_WEB=https://autocar-frontend.vercel.app