// ===========================
// BREAKPOINTS

$bp-xs: 480px; //màn hình dt nhỏ
$bp-sm: 768px; //màn hình dt lớn
$bp-md: 1024px; //màn hình tablet
$bp-lg: 1280px; //màn hình laptop nhỏ

// ===========================
// COLORS
// ===========================
$color-primary: #ef4444;
$color-primary-dark: #dc2626;
$color-dark-bg: #212739;
$color-dark-text: #94a3b8;
$color-border: #969696;
$color-white: #ffffff;
$color-light-red: #fee2e2;
$color-text-muted: #475569;

// ===========================
// FONT
// ===========================
$font-heading: "Roboto Slab", serif;
$font-base: sans-serif;

// ===========================
// SPACING
// ===========================
$padding-page-x: 25px;
$padding-page-x-sm: 16px;
$padding-page-x-xs: 12px;
