@use "@styles/variables" as *;
@use "@styles/tokens" as *;
@use "@styles/mixins" as *;

.showRoom-page {
  background: $white;

  .attention-icon {
    color: $red;
    font-size: 10px;
  }
  // ─── Register visit ───────────────────────────────────────────────────────
  .register-visit {
    padding: 56px 28px;

    @include sm {
      padding: 40px 16px;
    }
  }
}
