@use "@styles/mixins" as *;
@use "@styles/variables" as *;

.navigation-inner {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 26px 28px 14px;
  background: linear-gradient(45deg, #000000, #70707063);
  border-bottom: 1px solid #f0f0f0;

  a {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 13px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: color 0.18s ease;
    white-space: nowrap;

    div {
      display: inline-flex;
      align-items: center;
      gap: 5px;
    }

    .fa-angle-right {
      font-size: 10px;
      color: #cbd5e1;
    }

    &:not(:last-child):hover {
      color: #75dcf6;
    }
    &:last-child {
      font-weight: 600;
      color: #ffffff;
      pointer-events: none;

      div {
        padding: 3px 10px;
        background: #07a9bea4;
        border-radius: 10px 0px;
        font-size: 13px;
      }
    }
  }
}
