.news-page {
  p {
    font-size: 19px;
    // color: #cbd5e1;
  }
  .form-search {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    border-bottom: 1px solid #ffffff24;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    border-bottom: 2px solid rgb(124 124 124 / 21%);
    margin-bottom: 10px;
    align-items: center;
    .left {
      width: 40%;
      h3 {
        font-weight: bold;
        font-size: 35px;
      }
      p {
        color: #475569;
      }
    }
    .right {
      width: 40%;
      .input-form {
        position: relative;
        width: 80%;
        input {
          width: 100%;
          padding: 10px 35px 10px 15px;
          border-radius: 10px;
          font-size: 19px;
          background-color: #f1f5f9;
          border: 2px solid #64748b;
          &:focus {
            outline: var(--primary-red);
            background-color: white;
            border-color: var(--primary-red);
          }
        }
        .icon {
          font-size: 18px;
          position: absolute;
          top: 15px;
          cursor: pointer;
          right: 10px;
          color: #0f172a;
        }
        .icon-load i {
          animation: rotate 0.6s ease-in forwards;
        }
        @keyframes rotate {
          from {
            transform: rotate(0);
          }
          to {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
  .main {
    padding: 10px 20px;
    .banner-news {
      color: white;
      min-height: 500px;
      border-radius: 15px;
      background-color: #0f172a;
      opacity: 1;
      overflow: hidden;
      transition: opacity 0.25s ease-in-out;
      display: block;
      &.showBanner {
        opacity: 1;
        animation: slideUpBanner 0.25s ease-in-out forwards;
      }
      &.hidding {
        opacity: 0;
        display: none;
      }
      @keyframes slideUpBanner {
        from {
          transform: translateY(20px);
        }
        to {
          transform: translateY(0px);
        }
      }

      .content {
        padding: 40px 37px;
        width: 75%;
        transform: translateY(22%);
        .heading {
          margin-bottom: 10px;
          .status-title {
            padding: 5px 15px;
            color: white;
            display: inline-block;
            font-size: 18px;
            background-color: #059669;
            border-radius: 12px;
          }
          h2 {
            font-size: 40px;
            margin-bottom: 5px;
          }
          p {
            color: #cbd5e1;
            margin-bottom: 5px;
          }
        }
        .info-user {
          display: flex;
          align-items: center;
          gap: 25px;
          margin-top: 25px;

          .info-item {
            display: flex;
            align-items: center;

            span {
              &:first-child {
                margin-right: 10px;
                width: 35px;
                height: 35px;
                background-color: #475569;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
    }
    .news-filters {
      padding: 35px 0px;
      .nav-filters {
        display: flex;
        align-items: center;
        gap: 15px;
        .item-nav {
          padding: 7px 20px;
          font-size: 19px;
          font-weight: 600;
          border-radius: 12px;
          background-color: white;
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
          transition: 0.25s ease-in-out;
          cursor: pointer;
          &.active {
            background-color: #0f172a;
            color: white;
          }
          &:hover {
            background-color: #8491a2;
            color: white;
          }
        }
      }
      .list-news {
        display: flex;
        margin-top: 50px;
        flex-wrap: wrap;
        gap: 42px;
        p {
          font-size: 19px;
        }
        .news-item {
          width: 31%;
          background-color: white;
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
          border-radius: 15px;
          overflow: hidden;
          transition: transform 0.25s ease-in-out 0.35s;
          cursor: pointer;
          // border: 5px solid transparent;

          &:hover .img img {
            transform: scale(1.1);
          }
          &:hover {
            transform: translateY(-15px);
           
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.35);
          }
          &:hover .content .article-info h4 {
            color: var(--primary-red);
          }
          &:hover .article-add {
            color: var(--primary-red);
          }
          &:hover .article-add span:last-child {
            transform: translateX(5px);
          }
          .img {
            position: relative;
            height: 300px;
            overflow: hidden;
            img {
              width: 100%;
              object-fit: cover;
              height: 100%;
              transition: transform 0.25s ease-in-out;
            }

            .category-img {
              position: absolute;
              top: 15px;
              left: 10px;
              // color: white;
              background-color: #d1fae5;
              color: #047857;
              font-weight: 700;
              padding: 5px 10px;
              border-radius: 15px;
            }
          }
          .content {
            padding: 15px 25px;
            .post-time {
              display: flex;
              align-items: center;
              gap: 15px;
              margin-bottom: 15px;
              div {
                span {
                  color: #64748b;
                  font-size: 16px;
                  &:first-child {
                    margin-right: 5px;
                  }
                }
              }
            }

            .article-add {
              font-size: 19px;
              font-weight: 700;
              font-family: initial;
              display: flex;
              align-items: center;
              transition: 0.25s ease-in-out;
              padding: 10px 0px;
              border-top: 1px solid #64748b;
              cursor: pointer;
              &:hover {
                color: var(--primary-red);
              }
              span {
                transition: 0.25s ease-in-out;
                display: flex;
                align-items: center;
                &:first-child {
                  margin-right: 5px;
                }
                &:last-child {
                  // transform: translateY(2px);
                }
              }
            }
            .article-info {
              h4 {
                font-size: 22px;
                display: -webkit-box;
                -webkit-line-clamp: 2; /* Số dòng muốn hiển thị */
                -webkit-box-orient: vertical;
                overflow: hidden;
              }
              p {
                margin-top: 10px;
                margin-bottom: 20px;
                display: -webkit-box;
                -webkit-line-clamp: 3; /* Số dòng muốn hiển thị */
                -webkit-box-orient: vertical;
                overflow: hidden;
              }
            }
          }
        }
      }
      .empty-add {
        width: 100%;
        padding: 12px;
        margin-top: 35px;
        color: white;
        background-color: black;
        text-align: center;
        font-size: 25px;
      }
      .add-news {
        font-size: 22px;
        margin: 25px auto;
        font-weight: 700;
        text-align: center;

        transition: 0.25s ease-in-out;
        cursor: pointer;
        span {
          &:last-child {
            font-size: 17px;
          }
        }
        &:hover {
          color: var(--primary-red);
        }
      }
      .register-news {
        padding: 30px 20px;
        min-height: 276px;
        background-color: #710c0c;
        color: white;
        text-align: center;
        margin-top: 20px;
        border-radius: 20px;
        h3 {
          font-size: 38px;
          margin-bottom: 10px;
        }
        p {
          color: #fee2e2;
          width: 60%;
          margin: 10px auto;
        }
        .form-send {
          width: 60%;
          margin: 0 auto;
          input {
            padding: 12px 15px;
            width: 50%;
            border-radius: 7px;
            border: none;
            margin-right: 10px;
          }
          button {
            width: 15%;
            font-size: 19px;
            font-weight: 700;
            background-color: #0f172a;
            transition: 0.25s ease-in-out;
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}
.empty-state {
  padding: 40px 0px;
  font-size: 25px;
  width: 100%;
  text-align: center;
  color: #0f172a;

  i {
    padding: 10px 0px;
    font-size: 50px;
    // color: var(--primary-red);
  }
}
