@use "@styles/mixins" as *;
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 24px;
  border-top: 1px solid #ececec;
}

.left,
.right {
  display: flex;
  gap: 12px;
}

button {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid currentColor;
  font-size: 13px !important;
  font-weight: 600 !important;
  border: 1px solid currentColor;
  transition: 0.25s;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
.btn-back {
  @include backBtn-base;
}

.edit {
  background: #f3f4f6;
  color: #374151;
  border: 1px solid #cccc;
  &:hover {
    background: #e5e7eb;
  }
}
.save {
  background: #2563eb;
  color: #fff;

  &:hover:not(:disabled) {
    background: #1d4ed8;
  }
}

.cancelEdit {
  background: #ffffff;
  color: #6b7280;
  border: 1px solid #cccc;

  &:hover:not(:disabled) {
    background: #f9fafb;
    color: #111827;
  }
}

.processing {
  background: #2563eb;
  color: #fff;

  &:hover {
    background: #1d4ed8;
  }
}

.complete {
  background: #16a34a;
  color: #fff;

  &:hover {
    background: #15803d;
  }
}

.cancel {
  background: #dc2626;
  color: #fff;

  &:hover {
    background: #b91c1c;
  }
}

.pdf {
  background: #7c3aed;
  color: #fff;

  &:hover {
    background: #6d28d9;
  }
}
