.register-page {
  .input-form {
    // width: 100%;
    margin-bottom: 10px;
    input {
      width: 100%;
      padding: 10px 12px;
      border-radius: 10px;
      border: 2px solid #afafaf;
      &:focus {
        outline: #dc2626;
        border-color: #dc2626;
      }
    }
    p {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }

  button {
    width: 100%;
    margin-top: 5px;
    font-size: 19px;
    font-weight: bold;
  }

  .account-login {
    text-align: center;
    padding: 10px 0px;
    font-size: 18px;
    &:hover {
      color: #dc2626;
    }
  }
}
