.articlesManager-page {
  .header {
    h2 {
      font-size: 28px;
      font-weight: 700;
      color: var(--primary-color);
      padding-bottom: 4px;
      border-bottom: 3px solid var(--primary-red);
      display: inline-block;
    }
  }
}
